<div class="heating-protocol-confirmation-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{tab_label}}</span>
    </div>

    <div class="vertical-content">

      <div class="input-field">
        <span class="text-label">{{ screed_layer_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Firmenname" [(ngModel)]="screed_layer_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ construction_project_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Adresse" [(ngModel)]="construction_project_value" [contentEditable]="true">
        </div>
      </div>
    </div>

    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ executing_screed_layer_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Email des ausführenden Estrichlegers" [(ngModel)]="executing_screed_layer_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ construction_section_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Raum" [(ngModel)]="construction_section_value" [contentEditable]="true">
        </div>
      </div>
    </div>
  </div>

  <div id="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell *matHeaderCellDef>
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
            </div>
            <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
          </div>
          <div *ngIf="element.isEdit">
            <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
              <button mat-button (click)="element.isEdit = !element.isEdit">Done</button>
            </div>
            <ng-template #dataField>
              <mat-form-field>
                <input
                  [type]="col.type"
                  matInput
                  [(ngModel)]="element[col.key]"
                />
              </mat-form-field>
            </ng-template>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="group">
    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ beginning_heating_protocol_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveHeatingProtocolConfirmationData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="selectedFromDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ end_of_heating_protocol_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveHeatingProtocolConfirmationData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="selectedUntilDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ heater_fabricant_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Hersteller" [(ngModel)]="heater_fabricant_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ area_was_free_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isAreaFreeChecked" name="agree" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">

    <div class="button-left">
      <div class="back-button" (click)="returnOnePage()">
        <span class="back-text-button">{{ back_button_label }}</span>
      </div>
    </div>

    <div class="button-right">
      <div class="forward-button" (click)="saveHeatingProtocolConfirmationData()">
        <span class="forward-text-button">{{ forward_button_label }}</span>
      </div>
    </div>
  </div>
</div>
