<div class="heating-protocol-confirmation-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{tab_label}}</span>
    </div>

    <div class="vertical-content">

      <div class="input-field">
        <span class="text-label">{{ screed_layer_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Firmenname" [(ngModel)]="screed_layer_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ construction_project_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Adresse" [(ngModel)]="construction_project_value" [contentEditable]="true">
        </div>
      </div>
    </div>

    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ executing_screed_layer_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Email des ausführenden Estrichlegers" [(ngModel)]="executing_screed_layer_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ construction_section_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Raum" [(ngModel)]="construction_section_value" [contentEditable]="true">
        </div>
      </div>
    </div>
  </div>

  <table id="temperature_confirmation_table">
    <thead>
      <tr>
        <th style="border-bottom: 3px solid #37a937; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">Tage Belegereifheizen</th>
        <th style="border-bottom: 3px solid #37a937; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">Soll-Vorlauftemperatur</th>
        <th style="border-bottom: 3px solid #37a937; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">Abgelesene Vorlauftemperatur</th>
        <th style="border-bottom: 3px solid #37a937; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">Datum & Uhrzeit</th>
      </tr>
    </thead>
    <tbody>
      <tr id="1" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">1. Tag</td>
        <td>20 C°</td>
        <td>
          <input type="text" placeholder="~20 C°" [(ngModel)]="day_one_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_one_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="2" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">2. Tag</td>
        <td>25 C°</td>
        <td>
          <input type="text" placeholder="~25 C°" [(ngModel)]="day_two_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_two_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="3" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">3. Tag</td>
        <td>30 C°</td>
        <td>
          <input type="text" placeholder="~30 C°" [(ngModel)]="day_three_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_three_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="4" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">4.-8. Tag</td>
        <td>40 C°</td>
        <td>
          <input type="text" placeholder="~40 C°" [(ngModel)]="day_four_to_eight_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_four_to_eight_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="5" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">9. Tag</td>
        <td>30 C°</td>
        <td>
          <input type="text" placeholder="~30 C°" [(ngModel)]="day_nine_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_nine_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="6" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">10.-11. Tag</td>
        <td>25 C°</td>
        <td>
          <input type="text" placeholder="~25 C°" [(ngModel)]="day_ten_to_eleven_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_ten_to_eleven_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="7" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">12. Tag</td>
        <td>20 C°</td>
        <td>
          <input type="text" placeholder="~20 C°" [(ngModel)]="day_twelve_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_twelve_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr id="8" style="text-align: center;">
        <td style="text-align: left; display: inline-block;">13. Tag</td>
        <td>CM-Messung bei 20C°</td>
        <td>
          <input type="text" placeholder="~20 C°" [(ngModel)]="day_thirteen_value" [contentEditable]="true" width="25%">
        </td>
        <td>
          <input type="text" placeholder="" [(ngModel)]="day_thirteen_date" [contentEditable]="false" width="25%">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="group">
    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ beginning_heating_protocol_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveHeatingProtocolConfirmationData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="selectedFromDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ end_of_heating_protocol_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveHeatingProtocolConfirmationData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="selectedUntilDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="vertical-content">
      <div class="input-field">
        <span class="text-label">{{ heater_fabricant_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Hersteller" [(ngModel)]="heater_fabricant_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ area_was_free_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isAreaFreeChecked" name="agree" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">

    <div class="button-left">
      <div class="back-button" (click)="returnOnePage()">
        <span class="back-text-button">{{ back_button_label }}</span>
      </div>
    </div>

    <div class="button-right">
      <div class="forward-button" (click)="saveHeatingProtocolConfirmationData()">
        <span class="forward-text-button">{{ forward_button_label }}</span>
      </div>
    </div>
  </div>
</div>
