<div class="measurement-one-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div class="form-contact">
      <div class="input-field">
        <span class="text-label">{{ floor_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Bsp.: EG/1/WZ für Erdgeschoss/Wohnung 1/Wohnzimmer" [(ngModel)]="floor_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ layed_at_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveMeasurementOneData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="selectedLayedAtDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ date_of_measurement_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveMeasurementOneData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="selectedDateOfMeasurementDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ initial_weight_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Bsp.: 25kg" [(ngModel)]="initial_weight_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ pressure_gauge_display_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Angezeigten Druck in bar eintragen" [(ngModel)]="pressure_gauge_display_value" [contentEditable]="true">
        </div>
       </div>

      <div class="input-field">
         <span class="text-label">{{ cm_value_label }}</span>
         <div class="input-element">
          <input class="input-field" placeholder="CM%" [(ngModel)]="cm_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ temperature_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="20C°" [(ngModel)]="temperature_value" [contentEditable]="true">
        </div>
       </div>

      <div class="input-field">
        <span class="text-label">{{ humidity_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Feuchtigkeit in %" [(ngModel)]="humidity_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ surface_temperature_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Oberflächentemperatur in C°" [(ngModel)]="surface_temperature_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ installation_thickness_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Dicke des verlegten Estrich in mm" [(ngModel)]="installation_thickness_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ underfloor_heating_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isUnderfloorHeatingChecked" name="agree" />
          </div>
        </div>
      </div>

      <div class="input-field">
        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ ready_according_of_technical_datasheet_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isReadyAccordingOfTechnicalDatasheetChecked" name="agree" />
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">

      <div class="button-left">
        <div class="back-button">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveMeasurementOneData()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>

