<div class="technical-data-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div class="form-contact">
      <div class="input-field">
        <span class="text-label">{{ screed_construction_from }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveTechnicalData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="selectedFromDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ screed_construction_until }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveTechnicalData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="selectedUntilDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ screed_area_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="m²" [(ngModel)]="screed_area_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ screed_strength_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="mm" [(ngModel)]="screed_strength_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ producer_of_cement_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Zementhersteller" [(ngModel)]="producer_of_cement_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ sand_grading_line_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="A/B 0-8mm oder A/B 0-4mm" [(ngModel)]="sand_grading_line_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ crefix_product_amount_per_mix_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Mischratio" [(ngModel)]="crefix_product_amount_per_mix_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ has_underfloor_heating_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isChecked" name="agree" />
          </div>
        </div>
      </div>

      <div class="input-field">

        <div class="input-element">
          <div class="button-left">
            <span class="text-label">{{ measurement_point_label }}</span>
          </div>
          <div class="button-right">
            <input type="checkbox" [(ngModel)]="isMeasurementPointChecked" name="agree" />
          </div>
        </div>
      </div>
    </div>


    <div class="buttons">

      <div class="button-left">
        <div class="back-button" (click)="returnOnePage()">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveTechnicalData()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>

