<div class="form-contact">
  <app-input-field
    [value]="''"
    [description]="'Description'"
    [hasDescription]="false"
    [error]="'Error'"
    [hasLabel]="true"
    [label]="'Vorname'"
    [hasError]="false"
    [state]="'Default'"
    [placeholder]="'Max'"
    class="input-field"
  ></app-input-field>
  <app-input-field
    [value]="''"
    [description]="'Description'"
    [hasDescription]="false"
    [error]="'Error'"
    [hasLabel]="true"
    [label]="'Nachname'"
    [hasError]="false"
    [state]="'Default'"
    [placeholder]="'Mustermann'"
    class="input-field"
  ></app-input-field>
  <app-input-field
    [value]="''"
    [description]="'Description'"
    [hasDescription]="false"
    [error]="'Error'"
    [hasLabel]="true"
    [label]="'Telefonnummer'"
    [hasError]="false"
    [state]="'Default'"
    [placeholder]="'0660-0123456789'"
    class="input-field-phone"
  ></app-input-field>
  <app-input-field
    [value]="''"
    [description]="'Description'"
    [hasDescription]="false"
    [error]="'Error'"
    [hasLabel]="true"
    [label]="'Email'"
    [hasError]="false"
    [state]="'Default'"
    [placeholder]="'max.mustermann&#64;mustermail.com'"
    class="input-field-email"
  ></app-input-field>

</div>
