
#content {
  height: 100%;
}


#button {
  width: 100%;
  height: 100%;
}

#camera-content {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 80%;
  width: 100%;
  flex-direction: row;
}

#camera {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: inline;
}

#camera {
  float: left;
}

#image {
  float: right;
}

#take-image {
  width: 20%;
  height: 15%;

}
