<div class="user-data-frame">
  <div class="group">
    <app-logo-tab
      [label]="'CREFIX Logo'"
      [state]="'Default'"
      [active]="'Off'"
      class="tab_2-4331"
    ></app-logo-tab>
    <app-form-contact class="form-contact"></app-form-contact>
    <div class="buttons">
      <div class="button-left">
        <app-back-button
          [hasIconEnd]="false"
          [hasIconStart]="false"
          [label]="'Zurück'"
          [variant]="'Primary'"
          [state]="'Default'"
          [size]="'Medium'"
        >
        </app-back-button>
      </div>
      <div class="button-right">
        <app-forward-button
          [hasIconEnd]="false"
          [hasIconStart]="false"
          [label]="'Weiter'"
          [variant]="'Primary'"
          [state]="'Default'"
          [size]="'Medium'"
        >
        </app-forward-button>
      </div>
    </div>
  </div>
</div>


