<div class="user-data-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div class="form-contact">
      <div class="input-field">
        <span class="text-label">{{ first_name_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Max" value="{{first_name_value}}" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ last_name_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Mustermann" value="{{last_name_value}}" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ phone_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="0660-1234567890" value="{{phone_value}}" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ email_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="abc@mail.com" value="{{email_value}}" [contentEditable]="true">
        </div>
      </div>
    </div>

    <div class="buttons">

      <div class="button-left">
        <div class="back-button">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveUserData()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>


