<div class="executing-company-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div class="form-contact">
      <div class="input-field">
        <span class="text-label">{{ screed_company_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Verantwortliche Firma" [(ngModel)]="screed_company_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_address_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Straße und Hausnummer" [(ngModel)]="job_site_address_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_city_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Stadt in der die Bauarbeiten stattfinden" [(ngModel)]="job_site_city_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_zip_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="ZIP Code" [(ngModel)]="job_site_zip_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_country_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Land in welchem die Bauarbeiten stattfinden" [(ngModel)]="job_site_country_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ contact_person_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Ausführende Kontaktperson" [(ngModel)]="contact_person_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ contact_person_phone_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Telefonnummer der Kontaktperson" [(ngModel)]="contact_person_phone_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ contact_person_email_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Emailadresse der Kontaktperson" [(ngModel)]="contact_person_email_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ date_of_measurement_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Geplantes Datum für die nächste Messung" [(ngModel)]="date_of_measurement_value" [contentEditable]="true" >
        </div>
      </div>
    </div>

    <div class="buttons">

      <div class="button-left">
        <div class="back-button">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveExecutingCompanyData()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>
