<div class="executing-company-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div class="form-contact">
      <div class="input-field">
        <span class="text-label">{{ screed_company_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Verantwortliche Firma" [(ngModel)]="screed_company_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_address_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Straße und Hausnummer" [(ngModel)]="job_site_address_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_city_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="Stadt in der die Bauarbeiten stattfinden" [(ngModel)]="job_site_city_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_zip_label }}</span>
        <div class="input-element">
          <input class="input-field" placeholder="ZIP Code" [(ngModel)]="job_site_zip_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ job_site_country_label }}</span>
        <div class="input-element">
          <mat-form-field>
            <mat-label>Auswählen...</mat-label>
            <mat-select [(value)]="job_site_country_value">
              <mat-option value="Österreich">Österreich</mat-option>
              <mat-option value="Deutschland">Deutschland</mat-option>
              <mat-option value="Schweiz">Schweiz</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">
          {{ contact_person_label }}
          <button class="tooltip-button"
                  matTooltip="Partner auf der Baustelle welcher den Messungsschritt ausführen wird."
                  [matTooltipPosition]='position.value!'>
          ?
          </button>
        </span>

        <div class="input-element">
          <input class="input-field" placeholder="Ausführende Kontaktperson" [(ngModel)]="contact_person_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">
          {{ contact_person_phone_label }}
          <button class="tooltip-button"
                  matTooltip="Telefonnummer von Partner auf der Bausteller, welcher die Messung(en) durchführen wird."
                  [matTooltipPosition]='position.value!'>
          ?
          </button>
        </span>

        <div class="input-element">
          <input class="input-field" placeholder="Telefonnummer der Kontaktperson" [(ngModel)]="contact_person_phone_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">
          {{ contact_person_email_label }}
          <button class="tooltip-button"
                  matTooltip="Emailadresse von Partner auf der Bausteller, welcher die Messung(en) durchführen wird."
                  [matTooltipPosition]='position.value!'>
          ?
          </button>
        </span>
        <div class="input-element">
          <input class="input-field" placeholder="Emailadresse der Kontaktperson" [(ngModel)]="contact_person_email_value" [contentEditable]="true">
        </div>
      </div>

      <div class="input-field">
        <span class="text-label">{{ date_of_measurement_label }}</span>
        <div class="input-element">
          <form (ngSubmit)="saveExecutingCompanyData()">
            <mat-form-field appearance="fill">
              <mat-label>Datum Auswählen...</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="selectedDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="buttons">

      <div class="button-left">
        <div class="back-button">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveExecutingCompanyData()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>
