<div class="finished-dc-frame">
  <div class="group">
    <div class="tab">
      <span class="tab-text-label">{{ tab_label }}</span>
    </div>

    <div id="content">
      <h1>Dosierbestätigung abschicken und angegebenen Anspechpartner informieren?</h1>
    </div>

    <div class="buttons">

      <div class="button-left">
        <div class="back-button" (click)="returnOnePage()">
          <span class="back-text-button">{{ back_button_label }}</span>
        </div>
      </div>

      <div class="button-right">
        <div class="forward-button" (click)="saveAndExecuteInvite()">
          <span class="forward-text-button">{{ forward_button_label }}</span>
        </div>
      </div>

    </div>
  </div>
</div>

